<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>play</title>
</head>
<body>
     <h1>Here is a list of all available videos.</h1>
  <ul>
    {# <video width="320" height="240" controls> #}
 {# <source src={{pup}} type="video/mp4"> #}
   
    {% for pup in videos %}
    <li>{{pup}}</li>
   <video width="320" height="240" controls> 

 <source src="static/{{pup}}" type="video/mp4">
      </video>
    
    {% endfor %}

  </ul>


</div>
</body>
</html>